@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply inline-block px-5 py-3 rounded-lg focus:outline-none focus:ring focus:ring-offset-2 uppercase tracking-wider font-medium text-sm sm:text-base;
    }

    .btn-primary {
        @apply bg-indigo-900 hover:bg-indigo-500 focus:ring-indigo-500 focus:ring-opacity-50 text-white;
    }

    .btn-secondary {
        @apply bg-gray-300 focus:ring-gray-300 focus:ring-opacity-50 hover:bg-gray-400 text-gray-800;
    }

    .btn-header {
        @apply mr-4 text-sm font-medium bg-gray-800 text-gray-300 py-3 px-10 rounded-lg hover:bg-purple-400 focus:outline-none focus-within:ring-2 focus-within:ring-green-800 focus-within:ring-offset-2 focus-within:ring-offset-gray-900;
    }

    .input {
        @apply bg-blend-lighten border-2 focus:border-black p-2 rounded-lg shadow-inner w-full bg-gray-700 placeholder-white text-white appearance-none focus:ring transform transition hover:scale-105 duration-300 ease-in-out;
    }

    .header__card {
        @apply font-headline text-white text-4xl ml-5 mt-10 font-semibold text-purple-400
    }

    .chips {
        @apply py-2 px-2 text-center rounded-lg bg-indigo-600
    }

    .button__filter {
        @apply bg-indigo-900 bg-opacity-40 shadow-xl px-2 py-1 rounded-lg ring-2 ring-offset-blue-800 ring-gray-700 mt-5 cursor-pointer hover:bg-blue-900 hover:bg-opacity-100 transition
    }

    .app__filter {
        @apply
        uppercase
        lg:mr-4
        mt-4
        lg:space-x-4
        flex
        justify-end
        sm:flex-col
        flex-col
        md:flex-row
        md:space-x-4
    }

    .navbar__layout {
        @apply border-b
        lg:grid
        lg:grid-cols-3
        justify-items-center
        p-4
        dark:bg-gray-700
        bg-green-600
    }

    .input__search {
        @apply border-2 p-2 rounded-lg shadow-inner w-full dark:bg-gray-700 dark:placeholder-white dark:text-white bg-gray-200 placeholder-black
    }

    .ul__movie-cast {
        @apply lg:flex xl:justify-start xl:flex-row xl:items-center xl:space-x-6 sm:grid sm:grid-cols-2 grid grid-cols-2 items-center
    }

    .img__movie-cast {
        @apply cursor-pointer flex flex-col bg-purple-500  bg-opacity-20 ring-4 rounded-md ring-gray-900 relative hover:ring-gray-700 w-[192px] h-[287px]
    }

    .favorite__movie {
        @apply lg:w-28 lg:h-28 md:w-16 md:h-16 bg-green-500 hover:ring-pink-500 cursor-pointer bg-opacity-50 ring-4 mr-4 flex items-center justify-center rounded-full text-pink-600
    }

    .favorite__vote {
        @apply lg:w-28 lg:h-28 md:w-16 md:h-16 bg-indigo-500 bg-opacity-50 ring-4 mr-4 font-extrabold flex items-center justify-center rounded-full text-yellow-400 text-5xl
    }

    .title__hover {
        @apply text-white bg-indigo-400 bg-opacity-50 text-opacity-80 w-5/6 text-center absolute top-5 left-7 text-xl font-semibold rounded-lg transform transition duration-500
    }

    .navbar__counter {
        @apply bg-red-500 h-5 w-5 mb-4 text-white text-center flex items-center justify-center rounded-full
    }


}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

